{
  "extends": "eslint:recommended",
  "env": { "node": true },
  "parserOptions": {
      "ecmaVersion": 5,
      "sourceType": "module"
  },
  "rules": {
    "indent": ["error", 2],
    "key-spacing": ["error", { "align": "value" }]
  }
}